body {
    padding: 20px;
    background-color: rgb(78, 81, 85);
    font-size: 20px;
    /* Adjusted font size for better scaling */
    font-family: 'Trebuchet MS';
    color: rgb(194, 202, 211);
}

button {
    font-size: 16px;
    /* Adjusted font size for better scaling */
    color: #fff;
    background-color: rgb(119, 138, 213);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
}

#backButton {
    font-size: 1em;
    font-family: 'Trebuchet MS';
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(119, 138, 213);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}

.event {
    padding: 1px 0 0 10px;
    background: rgb(50, 90, 200);
    border: none;
    border-radius: 10px;
}