body {
    padding: 20px;
    background-color: rgb(78, 81, 85);
    font-size: 20px;
    /* Adjusted font size for better scaling */
    font-family: 'Trebuchet MS';
    color: rgb(194, 202, 211);
}

.previous {
    bottom:120px; 
    position: fixed;
    font-size: 20px;
    /* Adjusted font size for better scaling */
    background-color: rgb(119, 138, 213);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
    transition: background-color 0.1s, font-size 0.1s;
}
.previous:hover { 
    background-color: rgb(255, 255, 255);
    font-size: 25px; 
  }
.next { 
    position: fixed;
    bottom:120px; 
    left: 140px;
    font-size: 20px;
    /* Adjusted font size for better scaling */
    background-color: rgb(119, 138, 213);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
    transition: background-color 0.1s, font-size 0.1s;
}
.next:hover { 
    background-color: rgb(255, 255, 255);
    font-size: 25px;
}
#backButton {
    position: fixed; 
    font-size: 20;
    font-family: 'Trebuchet MS';
    bottom: 40; 
    left: 10; 
    margin-bottom: 10px;
    margin-left: 10px; 
    cursor: pointer;
    background-color: rgb(119, 138, 213);
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    transition: background-color 0.1s, font-size 0.1s;
}
#backButton:hover { 
    background-color: rgb(255, 255, 255);
    font-size: 25px;
}

.event {
    padding: 1px 0 0 10px;
    background: rgb(50, 90, 200);
    border: none;
    border-radius: 10px;
}
#year{ 
    position: relative;
    bottom: -25px;   
    left: 200px;
}
#month { 
    position: relative;
    left: 200px;
    bottom: -25px;  
}
#label { 
    position: relative; 
    left: 200px; 
    bottom: -25px;  
}