body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: rgb(78, 81, 85);
    color: #ffff;
    position: relative;
}

h1 {
    color: rgb(119, 138, 213);
    text-align: center; /* Centering the Notepad title */
}

label {
    font-weight: bold;
    margin-right: 5px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(119, 138, 213);
    color: #fff;
    border: none;
    border-radius: 4px;
}

button.edit {
    background-color: #28a745;
}

button.delete {
    background-color: #dc3545;
}

#notes-container {
    margin-top: 20px;
}

.note {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.note strong {
    font-size: 18px;
    color: rgb(119, 138, 213);
}

.note-content {
    color: rgb(119, 138, 213);
    font-size: 16px;
    margin-top: 10px;
}

/* Styling for the back button */
#backButton {
    font-size: 1em;
    font-family: 'Trebuchet MS';
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(119, 138, 213);
    color: #fff;
    border: none;
    border-radius: 5px;
}