body {
  font-family: 'Trebuchet MS';
  background-color:#161238;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #6f1df2;
}

h1 {
  color: #6f1df2;
  margin-bottom: 20px;
  font-size: 60px;;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

#calendar {
  text-align: center;
  margin-bottom: 20px;
}

#timeline {
  display: flex;
  overflow-x: auto;
}
.event {
  background-color: #6f1df2;
  color: #d4e3e2;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.1s, font-size 0.1s;
}
.event:hover { 
  background-color: rgb(255, 255, 255);
  font-size: 18px; 
  color:black; 
}
#eventContainer { 
  text-align-last: center;
  font-size: 25px; 
  color: #d4e3e2; 
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
}
#backButton {
  font-size: 20px;
  font-family: 'Trebuchet MS';
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: auto;
  padding: 10px;
  cursor: pointer;
  background-color: #6f1df2;
  border: none;
  border-radius: 5px;
  transition: background-color 0.1s, font-size 0.1s;
  color: #d4e3e2; 
}
#backButton:hover { 
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  color: black; 
}