h1 {
    color: #6f1df2;
    text-align: center;
    font-size: 60px;
    font-family: 'Trebuchet MS';
  }
body {
    font-family: 'Trebuchet MS';
    text-align: center;
    margin: 0;
    background-color: #161238;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#stopwatch {
    font-size: 5.5em;
    margin-bottom: 40px;
}

#controls {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#start { 
    transition: background-color 0.1s, font-size 0.1s;
    position: fixed;
    left: 495px; 
    color:#d4e3e2;
}
#start:hover { 
    background-color: rgb(255, 255, 255);
    font-size: 25px; 
    color:black ; 
}
#stop { 
    transition: background-color 0.1s, font-size 0.1s;
    position: fixed;
    left: 595px; 
    color:#d4e3e2;
}
#stop:hover { 
    background-color: rgb(255, 255, 255);
    font-size: 25px; 
    color: black; 
}
#reset { 
    transition: background-color 0.1s, font-size 0.1s;
    position: fixed;
    left: 695px; 
    color:#d4e3e2;
}
#reset:hover { 
    background-color: rgb(255, 255, 255);
    font-size: 25px; 
    color: black; 
}

button {
    font-size: 1.5em;
    font-family: 'Trebuchet MS';
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #6f1df2;
    border: none;
    border-radius: 5px;
}

#backButton {
    font-size: 20px;
    font-family: 'Trebuchet MS';
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
    background-color: #6f1df2;
    transition: background-color 0.1s, font-size 0.1s;
    border: none;
    border-radius: 5px;
    color:#d4e3e2;
}
#backButton:hover { 
    background-color: rgb(255, 255, 255);
    font-size: 25px; 
    color:black;
}