h1 {
  color: rgb(119, 138, 213);
  text-align: center;
  font-size: 40px;
  font-family: 'Trebuchet MS';
}

body {
  background-color: rgb(78, 81, 85);
}

.container {
  display: flex;
  justify-content: center;
}

div {
  border: solid;
  margin: 10px;
}

div.box1,
div.box2,
div.box3,
div.box4 {
  width: 200px;
  height: 200px;
}
.container {
  display: flex;
  justify-content: center;
  border: none;
}